<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Cadastro de idade</title>
  <style>
   .container{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
  }
  </style>
</head>
<body>
  <main>
    <div class="container">
    <h1>You are of age and you are {{age}} years old.</h1>
    </div>
  </main>
</body>
</html>

